@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.add-edit-page form {
    display: flex;
    flex-direction: column;
    min-height: 360px;
    justify-content: space-between;

}


.add-edit-page form  textarea {
    margin-top: 8px;
    outline: none;
    font-size: 16px;
    

}


.add-edit-page form textarea::placeholder {
    font-size: 16px;
}

.filters-block{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    
}

.filters-block div {
    margin-right: 5px;
}

.filters-block > div:nth-child(2) {
    width: 150px;
}


.filters-block>div:nth-child(3) {
    width: 150px;
    margin-right: 20px;
    margin-left: 10px;
}

.products-pagination{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.order-button {
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex;
    justify-content: center; */
}

.detail-page{
    display: flex;
    flex-wrap: wrap;

}

.detail-page h3 {
    font-size: 28px;
}

.detail-page li {
    list-style-type: none;
    font-size: 20px;
    margin: 10px 0;
}
.detail-left-img {
width: 50%;
}

.detail-left-img img {
    width: 100%;
}

.detail-right {
    width: 50%;
}





/* 404 page */






.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}





@media all and (max-width:767px) {
    .detail-left-img {
        width: 100%;
    }
    .detail-right {
        width: 100%;
    }
}